.navegacao{
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
    width: 13%;
}

.navegacao li a:link, a:visited{
    color: white;
    text-decoration: none;
}

.navegacao li p:hover{
    color: rgb(175, 175, 175);
    cursor: pointer;
}
